Question:<br>
<h4><%= @question.title %></h4>
<p>
  <%= @question.body %>
</p>
Comments:<br>
<p><% @question.comments.each do |comment| %>
<%= comment.body %>
<br>
<% end %></p>
<hr>
<p>
  Answers:<br><br>
  <% @question.answers.each do |answer| %>
  <%= answer.body %><br>
  Comments:<br>
  <% answer.comments.each do |comment| %>
    <%= comment.body %><br>
    <% end %>
    <br><br>
  <% end %>
</p>

<h3>Post an Answer</h3>
<form id='new_answer' action = '/answers' method = 'post'>
<textarea form='new_answer' rows="4" cols="50" name='body' placeholder='Body'></textarea><br><br>
<input type="hidden" name="question_id" value="<%= @question.id %>">
<input type='submit' value='Submit'>
</form>
